<div class="header">
  <h1>Learning to Code</h1>
  <h3>A Collection of Ruby on Rails Resources for Beginners</h3>
</div>
<hr/>
<div class="pins">
  <% @pins.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |pin| %>      
        <div class="pin-container col-md-4">
          <div class="pin">
            <div class="pin-header">
              <h4>
                <a href="<%= pin_path(pin) %>">
                  <%= "#{pin.title}" %>
                </a>
              </h4>
              <a class="url" href="<%= "#{pin.url}" %>">
                <%= "#{pin.url}" %>
              </a>
            </div>
            <hr/>
            <p class="text"><%= "#{pin.text}" %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<hr/>